<h1>Events</h1>

<% if flash[:success] %>
    <div class="notice"><%= flash[:success] %></div>
<% end %>

<% @upcoming_events.each do |e| %>
    <h2><%= link_to  "#{e.title}", event_path(e.id) %></h2>
    <h2>Date and time:</h2>
    <p><%= e.date %></p>
<% end %>

