.padding{
    padding: 0 25px;
}
.form-container {
    display: flex;
    justify-content: center;
}

.form-group {
    width: 500px;
}

.underline{
    border-bottom: 1px rgba(209, 209, 209, 0.541) solid;
    padding-left: 25px;
}

.users{
    width: 750px;
}